<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE com.kun.service.book.mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-com.kun.service.book.mapper.dtd">
<com.kun.service.book.mapper namespace="com.kun.com.kun.service.book.service.user.com.kun.service.book.mapper.UserMapper">

    <!-- Mapper XML -->
    <select id="selectByUserIdForUpdate" resultType="com.kun.com.kun.service.book.service.user.com.kun.service.book.domain.User">
        SELECT * FROM user WHERE id = #{userId} FOR UPDATE
    </select>
</com.kun.service.book.mapper>
